<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fairytaler.fairytalecat.member.dao.MemberMapper">


    <select id="findByMemberId" resultType="MemberDTO">
        SELECT
               MEMBER_CODE
             , MEMBER_ID
             , MEMBER_PWD
             , MEMBER_NAME
             , EMAIL
             , PHONE
             , MEMBER_ROLE
          FROM TB_MEMBER
         WHERE MEMBER_ID = #{memberId}
    </select>


    <insert id="insertMember" parameterType="MemberDTO">
        INSERT INTO TB_MEMBER
        (
            MEMBER_CODE
          , MEMBER_ID
          , MEMBER_PWD
          , MEMBER_NAME
          , EMAIL
          , PHONE
        )
        VALUES
        (
            SEQ_TB_MEMBER_CODE.NEXTVAL
          , #{memberId}
          , #{memberPwd}
          , #{memberName}
          , #{email}
          , #{phone}
        )
    </insert>

        <select id="findById" resultType="MemberDTO">
        SELECT
               MEMBER_CODE
             , EMAIL
             , MEMBER_PWD
             , MEMBER_NAME
             , EMAIL
             , PHONE
        FROM TB_MEMBER
        WHERE MEMBER_ID = #{memberId}

    </select>

    <select id="findByEmail" resultType="MemberDTO">
        SELECT
               MEMBER_CODE
             , MEMBER_ID
             , MEMBER_PWD
             , MEMBER_NAME
             , EMAIL
             , PHONE
        FROM TB_MEMBER
        WHERE EMAIL = #{email}
    </select>


</mapper>
